<!DOCTYPE html>
{% load static %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>Student Engagement Recognition System</title>

<!--

Breezed Template

https://templatemo.com/tm-543-breezed

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/bootstrap.min.css' %}">

    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/font-awesome.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/templatemo-breezed.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/owl-carousel.css' %}">

    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">

    </head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>  
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                           Students Panel
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/home" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="/admin" class="active">Admin</a></li>
                                <li class="scroll-to-section"><a href="/attend">Attend</a></li>
							<li class="scroll-to-section"><a href="{% url 'logout-h' %}">Logout</a></li>

                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
    
    <!-- ***** Search Area ***** -->


    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner header-text" id="top">
        <div class="Modern-Slider">
          <!-- Item -->
          <div class="item">
            <div class="img-fill">
                <img src="{% static 'assets/images/slide-01.jpg' %}" alt="">
                <div class="text-content">
                  <h3>Student Engagement Recognition System for an E-learning Environment </h3>

                </div>
            </div>
          </div>
          <!-- // Item -->
        </div>
    </div>
    <div class="scroll-down scroll-to-section"><a href="#about"><i class="fa fa-arrow-down"></i></a></div>
    <!-- ***** Main Banner Area End ***** -->

   <!-- ***** About Area Starts ***** -->
    <section class="section" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-6 col-xs-12">
                    <div class="left-text-content">
                       <div class="section-heading">

                            <h6>About</h6>

                              <p align="justify">
                               This recognition system was developed as a part of our S8 Project (CS 492) under the guidance of our mentor. </h5>

                           </p>
                       </div>

                        <div class="section-heading">
                            <br>
                            <h6>Problem Statement</h6>

                            <p align="justify">
                        Google Meet and Zoom has helped us to attend classes virtually. But conducting online classes is not as efficient as offline classes. In platforms like Google meet, the teacher has to swipe back and forth between screens while taking class to check if all students are attentive.  Teachers need to have more than a pair of eyes to teach and verify whether each of the students are attentively listening. If a student is not attentive in class, the existing systems does not automatically send alert to the teacher. Therefore, there is no motivation for students to concentrate on class as there is no one monitoring them. So we have devised a system which to detect the engagement of the student using CNN. An alert system and a student engagement calculator has been incorporated with the algorithm so as to send alert and warning to teachers and students respectively if students are not engaged in the class.
                           </p>
                        </div>
            </div>

        </div>
    </section>
    <!-- ***** About Area Ends ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="{% static 'assets/images/features-icon-1.png' %}" alt="">
                        </div>
                        <div class="features-content">
                            <h4>Facial Posture Detection</h4>
                            <p align="justify">     The first step was to extract facial features of the user. First, we started by learning about the CAT vs DOG classifier. We referred a to code that created an Image Classifier which can distinguish whether a given pic is of a dog or cat or something else depending upon the fed data. Then we used the base code of a emotion detection model, that can identify emotions such as  “angry”, “disgust”, “fear”, “happy”, “sad”, “surprise”, “neutral”. We then found methods to incorporate this feature in to our facial posture detector to detect the emotions of the students.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter bottom move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="{% static 'assets/images/features-icon-1.png' %}" alt="">
                        </div>
                        <div class="features-content">
                            <h4>Alert System</h4>
                            <p align="justify"> The alert system acts as the base for understanding the engagement of the student. The students engagement is stored at regular intervals (eg: 5 mins, 10 mins, 15 mins) depending on the state the student (engaged, bored, confused, frustrated) while the data is being recorded into the database during online class. The tutor can access the details through the admin login. </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12" data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <div class="features-item">
                        <div class="features-icon">
                            <img src="{% static 'assets/images/features-icon-1.png' %}" alt="">
                        </div>
                        <div class="features-content">
                            <h4>Student Engagement Calculator</h4>
                            <p align="justify"> Once the class is over, the tutor can view the statistics of the class. For example, having 80% or more students engaged means the overrall class was engaging, while 60% to 80% implying confusion, and similarly reducing for the various engagements shown by the calculator. The tutor can thus take effective measures to improve the quality of online classes and give more attention to students who are less engaged.  </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->

    <!-- ***** Features Big Item Start ***** -->
    <section class="section" id="subscribe">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="section-heading">
                        <h1>Objective</h1>
                    </div>
                    <div class="section-heading">
                        <p align="justify">
                         The objective of this project is to study students online course engagement recognition from students appearance and behavioral information using deep learning methods. Both spatio and temporal features of a student are considered for evaluation using Convolutional Neural Networks on the DAiSEE Dataset. The proposed system judges students engagement levels by checking if the student is looking somewhere else or has dozed off in between. It checks if the user is both physically and mentally present in class. This system increases the efficiency of online classes.
                        </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Features Big Item End ***** -->


    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="testimonials">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-heading">

                        <h2>Meet our team</h2>
                    </div>
                </div>
                <div class="col-lg-12 col-md-12 col-sm-12 mobile-bottom-fix-big" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <div class="owl-carousel owl-theme">

                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="{% static 'assets/images/Lakshmi.jpg' %}" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>Ms. Lakshmi S</h4>
                            <span>Assistant Professor (Senior Grade)</span>
                            <br>
                            <span>Guide</span>
                        </div>
                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="{% static 'assets/images/Nikhil.jpg' %}" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>Nikhil Mathew Thomas</h4>
                            <span>S8 CSE B</span>
                        </div>
                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="{% static 'assets/images/Rizwi.jpg' %}" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>Rizwi Liakath P</h4>
                            <span>S8 CSE B</span>
                        </div>
                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="{% static 'assets/images/Sangeeth.jpg' %}" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>Sangeeth PM</h4>
                            <span>S8 CSE B</span>
                        </div>

                        <div class="item author-item">
                            <div class="member-thumb">
                                <img src="{% static 'assets/images/Vismaya.jpg' %}" alt="">
                                <div class="hover-effect">
                                    <div class="hover-content">
                                        <ul>
                                            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                            <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                            <li><a href="#"><i class="fa fa-rss"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <h4>Vismaya</h4>
                            <span>S8 CSE B</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->


    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-xs-12">
                    <div class="left-text-content">
                        <p>Copyright &copy; 2021 Developed for S8 Project (CS 492).

                        </a></p>
                    </div>
                </div>
                <div class="col-lg-6 col-xs-12">
                    <div class="right-text-content">
                            <ul class="social-icons">
                                <li><p>Follow Us</p></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-facebook"></i></a></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-twitter"></i></a></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-linkedin"></i></a></li>
                                <li><a rel="nofollow" href="https://fb.com/templatemo"><i class="fa fa-dribbble"></i></a></li>
                            </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>


    <!-- jQuery -->
    <script src="{% static 'assets/js/jquery-2.1.0.min.js' %}"></script>

    <!-- Bootstrap -->
    <script src="{% static 'assets/js/popper.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.min.js' %}"></script>

    <!-- Plugins -->
    <script src="{% static 'assets/js/owl-carousel.js' %}"></script>
    <script src="{% static 'assets/js/scrollreveal.min.js' %}"></script>
    <script src="{% static 'assets/js/waypoints.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'assets/js/imgfix.min.js' %}"></script>
    <script src="{% static 'assets/js/slick.js' %}"></script>
    <script src="{% static 'assets/js/lightbox.js' %}"></script>
    <script src="{% static 'assets/js/isotope.js' %}"></script>

    <!-- Global Init -->
    <script src="{% static 'assets/js/custom.js' %}"></script>

    <script>

        $(function() {
            var selectedClass = "";
            $("p").click(function(){
            selectedClass = $(this).attr("data-rel");
            $("#portfolio").fadeTo(50, 0.1);
                $("#portfolio div").not("."+selectedClass).fadeOut();
            setTimeout(function() {
              $("."+selectedClass).fadeIn();
              $("#portfolio").fadeTo(50, 1);
            }, 500);

            });
        });

    </script>

  </body>
</html>